.dropper {
  align-items: center;
  border: 5px dashed tomato;
  cursor: pointer;
  display: flex;
  height: 200px;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  width: 200px;
}

.dropper input {
  display: none;
}

.zoom {
  margin-top: 25px;
}

.zoom__box {
  height: 150px;
  margin: 0 auto;
  width: 300px;
  overflow: hidden;
}

.zoom__box img {
  width: 300px;
}
