/* Reset */
* { box-sizing: border-box }
body, ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
[hidden] {
  display: none !important;
}

body {
  background-color: #052F5F;
  color: #F1A208;
  display: flex;
  flex-direction: column;
  font-family: 'Comfortaa', cursive;
  height: 100vh;
}

h1 {
  font-family: 'Chango', cursive;
  font-size: 50px;
  margin: 30px 0 0;
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}


.dropper {
  align-items: center;
  border: 5px dashed #06A77D;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  height: 300px;
  justify-content: center;
  line-height: 50px;
  margin: 0 auto;
  overflow: hidden;
  width: 300px;
}
.dropper:hover {
  border-color: currentColor;
}

.dropper input {
  display: none;
}

.zoom {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.zoom__ctrl {
  cursor: pointer;
  color: #06A77D;
  font-size: 100px;
  text-align: center;
  width: 100px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.zoom__ctrl:hover {
  color: currentColor;
}
.zoom__box--save .zoom__ctrl {
  display: none;
}

.zoom__box li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.zoom__box p {
  height: 150px;
  margin: 0;
  overflow: hidden;
  width: 300px;
}
.zoom__box img {
  cursor: move;
  width: 300px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.zoom__save {
  background-color: #06A77D;
  border: none;
  border-radius: 5px;
  color: #052F5F;
  cursor: pointer;
  font-family: 'verdana';
  font-size: 20px;
  margin-top: 30px;
  padding: 15px 20px;
}
.zoom__save:hover {
  background-color: #F1A208;
  color: #052F5F;
}

footer {
	background-color: #005377;
	font-size: 14px;
}
footer	p {
	line-height: 1.5;
	text-align: center;
}
footer a {
	color: #D5C67A;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}
footer span {
	white-space: nowrap;
}
