/* Reset */
* { box-sizing: border-box }
body, ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
[hidden] {
  display: none !important;
}

.mobile {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  background-color: #052F5F;
  color: #F1A208;
  display: flex;
  flex-direction: column;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  height: 100vh;
}

h1 {
  font-family: 'Chango', cursive;
  font-size: 2rem;
  margin: 1rem 0 0.5rem;
  text-align: center;
}
@media (min-width: 500px) {
  h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }
}

header p {
  margin: 1rem 0 0;
  text-align: center;
}

.dropper,
.zoom {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}
@media (min-width: 500px) {
  .dropper,
  .zoom {
    padding-bottom: 3rem;
  }
}
.dropper label {
  align-items: center;
  border: 5px dashed #06A77D;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 15rem;
  justify-content: center;
  line-height: 2.5rem;
  margin: 0 auto;
  overflow: hidden;
  width: 15rem;
}
@media (min-width: 500px) {
  .dropper label {
    font-size: 1.75rem;
    height: 20rem;
    line-height: 3rem;
    width: 20rem;
  }
}
.dropper label:hover {
  border-color: currentColor;
}
.dropper input {
  display: none;
}

.zoom {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 500px;
}
@media (min-width: 500px) {
  .zoom {
    min-height: 820px;
  }
}

.zoom__ctrl {
  cursor: pointer;
  color: #06A77D;
  font-size: 4rem;
  text-align: center;
  width: 3rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
@media (min-width: 500px) {
  .zoom__ctrl {
    font-size: 6rem;
    width: 6rem;
  }
}
.zoom__ctrl:hover {
  color: currentColor;
}
.zoom__box--save .zoom__ctrl {
  display: none;
}

.zoom__box li {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.zoom__box p {
  height: 100px;
  margin: 0;
  overflow: hidden;
  width: 200px;
}
@media (min-width: 500px) {
  .zoom__box p {
    height: 150px;
    width: 300px;
  }
}

.zoom__box p:hover {
  outline: 1px solid;
}
.mobile .zoom__box p {
  outline: none;
}
.zoom__box img {
  cursor: move;
  width: 300px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.zoom__save {
  background-color: #06A77D;
  border: none;
  border-radius: 5px;
  color: #052F5F;
  cursor: pointer;
  font-family: 'verdana';
  font-size: 1rem;
  margin-top: 2rem;
  padding: 1rem;
}
.zoom__save:hover {
  background-color: #F1A208;
  color: #052F5F;
}

footer {
	background-color: #005377;
	font-size: 0.75rem;
  padding: 0 1rem;
  width: 100%;
}
@media (min-width: 500px) {
  footer {
    bottom: 0;
    position: fixed;
  }
}
footer	p {
	line-height: 1.5;
	text-align: center;
}
footer a {
	color: #D5C67A;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}
footer span {
	white-space: nowrap;
}
